{{/* default 'module' value */}}
{{- $personal := false -}}{{/* true if this host should have personal sensitive/secret data */}}
{{- $ephemeral := false -}}{{/* true if this host is ephemeral, e.g. a cloud or VM instance */}}
{{- $emoji := false -}}
{{- $starship := false -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{/* default config per host */}}
{{- if not $ephemeral -}}
{{-   if eq .chezmoi.hostname "jiji" -}}
{{-     $personal = true -}}
{{-     $emoji = true -}}
{{-     $starship = true -}}
{{-   else if eq .chezmoi.os "android" -}}{{/* android */}}
{{-     $personal = true -}}
{{-     $emoji = false -}}
{{-     $starship = false -}}
{{-   else if stdinIsATTY -}}
{{-     $personal = promptBoolOnce . "personal" "Enable personal configs/secrets?" -}}
{{-     $emoji = promptBoolOnce . "emoji" "Enable emoji in prompt?" -}}
{{-     $starship = promptBoolOnce . "starship" "Enable starship?" -}}
{{-   end -}}
{{- end -}}

{{/* if OS is linux use $osID var (ex: linux-debian) */}}
{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


[data]
    personal = {{ $personal }}
    ephemeral = {{ $ephemeral }}
    osid = {{ $osID | quote }}

    emoji = {{ $emoji }}
    starship = {{ $starship }}

{{ if $personal }}
    name            = "Calogero Lo Leggio"

    email           = {{ (bitwardenFields "item" "b2ca8b0b-97ee-4d1c-94c8-ac1e015e4a22").personal.value | quote }}
    email_nerdrug   = {{ (bitwardenFields "item" "b2ca8b0b-97ee-4d1c-94c8-ac1e015e4a22").nerdrug.value | quote }}
    email_libreit   = {{ (bitwardenFields "item" "b2ca8b0b-97ee-4d1c-94c8-ac1e015e4a22").libreit.value | quote }}
    email_desegno   = {{ (bitwardenFields "item" "b2ca8b0b-97ee-4d1c-94c8-ac1e015e4a22").desegno.value | quote }}
    email_pandev    = {{ (bitwardenFields "item" "b2ca8b0b-97ee-4d1c-94c8-ac1e015e4a22").pandev.value | quote }}
    email_advenias  = {{ (bitwardenFields "item" "b2ca8b0b-97ee-4d1c-94c8-ac1e015e4a22").advenias.value | quote }}

    gpg_keyid       = "0x831E187353BAF98D"
    github_user     = "kalos"

encryption = "age"
[age]
    identity = "~/.config/chezmoi/.secretkey"
    recipient = "age1nzcmlyh8duvpqj2n40vsdyzuekd2nxk7kxjmcv4dagmpselyqe7qea9gje"
{{- end -}}
