## system
{{- if .ssh }}
openssh-client
{{ end -}}

{{- if .syncthing }}
syncthing
{{ end -}}


## shell / CLI

htop
iotop
tmux

ripgrep
fzf
fd-find
ncdu
gdu
#duf

nnn
ranger
#broot

exa
#bat

ipcalc
#dog

#passgen



## host-specific settings:
{{- if eq .chezmoi.hostname "jiji" -}}

# intel microcode
intel-microcode

# fwupd - Linux Vendor Firmware Service (LVFS)
fwupd
{{ end }}
