## system
{{- if .ssh }}
openssh
{{ end -}}

{{- if .syncthing }}
syncthing
{{ end -}}


{{- /* install grub-btrfs only if btrfs is root fs and is used with specific layout */}}
{{- if .btrfsFlat }}
grub-btrfs
{{- end }}

## shell / CLI

{{- if .starship }}
starship
{{ end -}}

htop
iotop
tmux

ripgrep
fzf
fd
zoxide
ncdu
gdu
duf

nnn
broot
ranger

exa
bat

ipcalc
dog

#passgen

{{- if .backup }}
## backup
restic
resticprofile-bin
# required packages:
jq
#libnotify
logrotate
{{- end  }}



## host-specific settings:
{{- if eq .chezmoi.hostname "jiji" }}

# intel microcode
intel-ucode

# thermald to fix x1c6 thermal throttling
thermald

# fwupd - Linux Vendor Firmware Service (LVFS)
fwupd
{{ end -}}
