## system
{{- if .ssh }}
openssh-client
{{ end -}}

{{- if .syncthing }}
syncthing
{{ end -}}


## shell / CLI

{{- if .starship }}
starship
{{ end -}}

htop
iotop
#broot
ranger
ipcalc
tmux
exa
#passgen
ncdu
gdu
ripgrep
fzf
fd-find
#dog
#duf
#bat
px



## host-specific settings:
{{- if eq .chezmoi.hostname "jiji" -}}

# intel microcode
intel-microcode

# fwupd - Linux Vendor Firmware Service (LVFS)
fwupd
{{ end }}
