{{ if and (eq .osid "linux-arch" "linux-debian") (not .ephemeral) -}}
#!{{ lookPath "bash" }}

{{- $sudoGroup := "none" }}
{{- if eq .osid "linux-arch" }}
{{-   $sudoGroup = "wheel" }}
{{- else if eq .osid "linux-debian" }}
{{-   $sudoGroup = "sudo" }}
{{ end }}

read -r -d '' _SUDOCONF << EOM
Defaults timestamp_timeout=10

# sudoers uses per-user time stamp files for credential caching.
# use single time stamp record for all of a user's login sessio
#Defaults timestamp_type=global

Defaults umask = 0022
Defaults umask_override

Defaults insults

%{{ $sudoGroup }}  ALL=(ALL:ALL) ALL
EOM

echo "${_SUDOCONF}" | sudo tee /etc/sudoers.d/group_{{ $sudoGroup }}

{{ end -}}
